.name-container{
    width: 98%;
    height: 98vh;
    border-radius: 10px;

    background-color: #5F264A;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.name-title{
    font-size: 8rem;
}
.name-subtitle{
    font-size: 3rem;
}